---
import data from "../data/enchiridion.json";

interface DataObject {
  [key: string]: string;
}

const dataTyped: DataObject = data as unknown as DataObject;

function getRandomKey(obj: DataObject): keyof DataObject {
  const keys = Object.keys(obj) as Array<keyof DataObject>;
  const randomIndex = Math.floor(Math.random() * keys.length);
  return keys[randomIndex];
}

const randomKey = getRandomKey(dataTyped);
const randomValue = dataTyped[randomKey];

console.log(randomValue);
---

<div>
  <p>{randomKey}: {randomValue}</p>
</div>
